.post-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2em;
    background-color: rgb(15, 18, 22);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}